<div class="row">
    <div class="large-7 columns">
        <h1>Räkna ut konsultarvode per timme</h1>

        <p>Här kan du räkna ut ditt timarvode som konsult och samtidigt få en överblick över bl.a. preliminärskatt,
            egenavgifter och andra skatter.</p>

        <p>
            Kalkylatorn utgår ifrån att du jobbar 8 timmar per dag och att du är ledig röda dagar. Resultatet ska ses som en riktlinje.</p>
        <p>Tänk på att begära mer i lön per timme vid en förhandling än vad som visas i uträkningen. Dels för att det är skönt för kunden (och för dig) att ha en prutmån och dels för att det är lättare att gå ner i pris när priset lagts för högt än att gå upp i pris om det visar sig att priset som lagts var för lågt.</p>
        <p> Det värsta som kan hända om du begär ett högre timarvode är att kunden säger nej och då vet du vilken prutmån du har och hur mycket du kan gå ner i pris.
        </p>
        <form ng-model="salaryCalculation">
            <label>
                Vilket år är du född? <span class="link birth-year-message" ng-click="showMessage('birth-year-message')">Mer info</span>
                <select ng-model="salaryCalculation.person.birthYear" ng-change="calculate()">
                    <option ng-repeat="personBirthYear in personBirthYearCollection"
                            ng-selected="{{personBirthYear === salaryCalculation.person.birthYear}}"
                            value="{{personBirthYear}}">{{personBirthYear}}
                    </option>
                </select>
            </label>

            <label>
                I vilken kommun bor du? <span class="link municipality-message" ng-click="showMessage('municipality-message')">Mer info</span>
                <select ng-model="municipalityTaxInformation.municipalityIndex"
                        ng-change="setTownships(municipalityTaxInformation.municipalityIndex)">
                    <option ng-repeat="municipality in municipalities"
                            ng-selected="{{$index === municipalityTaxInformation.municipalityIndex}}"
                            value="{{$index}}">{{municipality.municipality}}
                    </option>
                </select>
            </label>
            <label>
                Vilken församling tillhör du? <span class="link township-message" ng-click="showMessage('township-message')">Mer info</span>
                <select ng-model="municipalityTaxInformation.townshipIndex">
                    <option ng-repeat="township in townships"
                            ng-selected="{{$index === municipalityTaxInformation.townshipIndex}}" value="{{$index}}">
                        {{township.township}}
                    </option>
                </select>
            </label>
            <label>Är du medlem i Svenska Kyrkan? <span class="link church-member-message" ng-click="showMessage('church-member-message')">Mer info</span>
            </label>
            <label>
                <input type="radio" ng-model="municipalityTaxInformation.isMemberOfSwedishChurch"
                       name="isMemberOfSwedishChurch" ng-value="{{true}}"> Ja
            </label>
            <label>
                <input type="radio" ng-model="municipalityTaxInformation.isMemberOfSwedishChurch"
                       name="isMemberOfSwedishChurch" ng-value="{{false}}"> Nej
            </label>
            <label>
                Hur stor del av din arbetstid kan du fakturera? <span class="link billable-time-percentage-message" ng-click="showMessage('billable-time-percentage-message')">Mer info</span>
                <input type="range" class="full-width-range" ng-model="test.billableTimePercentage" min="10" max="100"
                       step="5"/>

                <p>{{test.billableTimePercentage}} %</p>
            </label>
            <label>
                Hur stor procent av inkomsten ska återinvesteras i företaget? <span class="link profit-percentage-of-income-message" ng-click="showMessage('profit-percentage-of-income-message')">Mer info</span>
                <input type="range" class="full-width-range" ng-model="test.profitPercentageOfIncome" min="0" max="100" step="5"/>

                <p>{{test.profitPercentageOfIncome}}%</p>
            </label>
            <label>
                Hur många semesterdagar vill du ta ut per år?
                <input type="range" class="full-width-range" ng-model="test.numberOfVacationDaysInAYear" min="0" max="50" step="1"/>

                <p> {{test.numberOfVacationDaysInAYear}} </p>
            </label>
            <label>
                Vill du avsätta 5% av din lön till din tjänstepension? <span class="link service-pension-message" ng-click="showMessage('service-pension-message')">Mer info</span>
            </label>
            <label><input type="radio" ng-model="test.hasServicePension" name="hasServicePension" ng-value="{{true}}"/> Ja</label>
            <label><input type="radio" ng-model="test.hasServicePension" name="hasServicePension" ng-value="{{false}}"/> Nej</label>
            <label>
                Årets beräknade inkomst efter att moms och kostnader har dragits av.
                <input class="full-width-range" type="range" ng-model="salaryCalculation.earnedIncome" min="100000"
                       max="2000000" step="10000" ng-change="calculate()"/>
            </label>

            <p> {{salaryCalculation.earnedIncome}} </p>
        </form>
    </div>
</div>

<div class="row">
    <div class="large-6 columns">
        <p ng-if="!showCostsForm"><span class="link"
                                        ng-click="setShowCostsForm(true)">Lägg till företagets kostnader</span> för
            att få ett mer rättvist resultat.</p>

        <p><span class="link" ng-if="showCostsForm" ng-click="setShowCostsForm(false)">Dölj kostnader</span></p>

        <div ng-if="showCostsForm">
            <form>
                <label>
                    Namn på kostnad t.ex. 'hyra av lokal' eller 'revisorkostnad'
                    <input type="text" ng-model="cost.typeOfCost"/>
                </label>
                <label>Månadsavgift för kostnaden
                    <input type="number" ng-model="cost.monthlyCost"/>
                </label>
                <input type="button" class="button tiny radius" ng-click="addCostToCostCollection(cost)"
                       value="Lägg till kostnad"/>
            </form>

            <div ng-if="costCollection.length">
                <p>Kostnader</p>

                <p ng-repeat="cost in costCollection">{{cost.typeOfCost}} {{cost.monthlyCost}} kr/månad <input
                        class="button tiny alert radius" type="button" value="x"
                        ng-click="deleteCostFromCostCollection($index)"/></p>

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="large-7 columns">
        <p>Månadslön efter skatt: {{calculateMonthlyWageAfterTaxes() | formattomoney}} kr</p>

        <p>Timarvode exkl. moms: {{calculateHourlyBillAmount() | formattomoney}} kr</p>

        <p>Företagets vinst per månad (skattad): {{calculateProfitPerMonth() | formattomoney}} kr</p>

    </div>
</div>

<div class="row">
    <div class="large-7 columns">
        <p><span class="link" ng-if="!calculationsAreVisible" ng-click="setCalculationsAreVisible(true)">Visa skatteuträkning</span>
        </p>

        <p><span class="link" ng-if="calculationsAreVisible" ng-click="setCalculationsAreVisible(false)">Dölj skatteuträkning</span>
        </p>

        <div ng-if="calculationsAreVisible">
            <p style="font-weight: 900">Årets skatteuträkning:</p>

            <p>Fastställd förvärvsinkomst: {{salaryCalculation.establishedBusinessExcess}}</p>

            <p>Grundavdrag: {{salaryCalculation.baseDeductionRoundedUpToNearestHundred}}</p>

            <p>Beskattningsbar förvärvsinkomst: {{salaryCalculation.taxableIncome}}</p>

            <p>Egenavgifter och allmän löneavgift: {{salaryCalculation.ownFees}}</p>

            <p>Kommunal inkomstskatt: {{salaryCalculation.municipalityTaxRoundedDownToFullCrowns}}</p>

            <p>Statlig inkomstskatt: {{salaryCalculation.stateIncomeTax}}</p>

            <p>Förhöjd statlig inkomstskatt: {{salaryCalculation.increasedStateIncomeTax}}</p>

            <p>Allmän pensionsavgift: {{salaryCalculation.generalRetirementFeeRoundedToClosestHundred}}</p>

            <p>Skattereduktion för allmän pensionsavgift: {{salaryCalculation.generalRetirementFeeDeduction}}</p>

            <p>Skattereduktion för arbetsinkomster (jobbskatteavdrag):
                {{salaryCalculation.largestPossibleWorkTaxDeduction}}</p>

            <p>Skatt att betala (preliminärskatt): {{salaryCalculation.sumOfTaxes}}</p>
        </div>
    </div>
</div>
